body {
    font-family: "Lato", sans-serif;
}

.col h2 {
    font-weight: 600;
}

.jumbotron {
    padding-top: 6rem;
}

.jumbotron h1 {
    font-weight: 400;
}

section {
    padding-top: 5rem;
}

.card-text {
    text-align: justify;
}
